# Task 1

In [ ]:
#part(a)

In [ ]:
age, name, is_student= 32, "Umar", True    # 3 Variables defined as age, name and is_student

In [ ]:
print(age, name, is_student)               #3 variables printed

In [ ]:
#part(b)

In [ ]:
age +=25                              #add 25 to age and print
print(age)

In [ ]:
name2= "Smith"
print(name+name2)                      #concatenate "Smith" to name and then print

In [ ]:
print(is_student)                    #print boolean variable

In [ ]:
 is_student2= not is_student       #print negation to boolean 
print(is_student2)

# Task 2  (Area of Rectangle, given width and height of rectangle)

In [ ]:
width=5.5
height=3.25
Area= width*height 
print(Area)

In [ ]:
#Task 2 (b)

C= 50               #Temperature in Celsius 
F= (C*9/5)+ 32      # Temperature in Fahrenheit defined in relation to Celsius scale 
print(F)            #print output

In [ ]:
#Task 2 (c)

radius=5
pi= 3.14159
Area= pi*radius**2
print(Area)

# Task 3

In [ ]:
fruits= ["apple", "banana", "orange", "grape", "kiwi"]           #list of fruits and ouput printed 
print(fruits)

In [ ]:

#Task 3 (b)

months=("January", "February", "March")              #tuple containing first 3 months 
print(months)

# Task 4    List Manipulation

In [ ]:
      
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
total = sum(numbers)                                 # Sum function used to calculate sum of all numbers 
print(total)

In [ ]:
Average = sum(numbers)/ len(numbers)               #Average of numbers 
print(Average)

In [ ]:
# Task 4 (b)   
fruits= ["apple", "banana", "orange", "grape", "kiwi"]  
fruits[0]                                                     #checks the name of first element of fruits 
fruits[-1]                                                    #checks the last name of list fruits 
fruits.remove("apple")                                        #remove first element from fruits 
fruits.remove("kiwi")                                         #remove last element from fruits 
print(fruits)

# Task 5

In [ ]:


capitals_dictionary={"USA": "Washington D.C", "France": "Paris", "Japan": "Tokyo"}

In [ ]:
print(capitals_dictionary)

In [ ]:
#Task 5 (b)                          #Adding Germany & Berlin to the list of capitals 
capitals_dictionary["Germany"]="Berlin"
print(capitals_dictionary)

In [ ]:
#Task 5 (c)
capitals_dictionary["France"]

In [ ]:
if "France" in capitals:
    print("France is in capitals")
else: print("France is not in the capitals")

# Task 6

In [ ]:
number= int(input("Enter Number"))

In [ ]:
if number % 2 == 0:
    print(" The number is even")
else: 
    print("The number is odd")

In [ ]:
#Task 6 (b)
age = 22        #Age and GPA variable 
GPA= 3.2

if age >=18 and GPA >=3:                        #conditions for elegibility of admission 
    print("Eligible for admission")
else: 
    print(" Not eligible for admission")

# Task 7

In [ ]:
 
fruits_set= {"apple", "banana", "orange", "grape", "kiwi"}
print(fruits_set)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}
A.union(B)
print("union of A and B is", A.union(B))   # prints the result of union of A and B set

In [ ]:
print("intersection of A and B is", A.intersection(B)) # prints intersection of A and B set

In [ ]:
print("difference between A and B is", B.difference(A)) #prints difference between A and B set

In [ ]:
print("difference between B and A is", A.difference(B)) #prints difference between B and A set

In [ ]:
A.issubset(B)                                   #check if set A is subset of B 
print("Is A subset of B ?", A.issubset(B))      # prints result

# Task 8

In [ ]:
string_var = "Python programming is fun and powerful!"    #string variable created 
len(string_var)                                            #calculates length of variable

In [ ]:
print(string_var.upper())                                   #prints the variable in upper

In [ ]:
string_var2= string_var. replace("fun", "exciting")         #replace fun with exciting using replace function
print(string_var2)                                          #prints new variable

In [ ]:
string_var = "Python programming is fun and powerful!" 

if "Python" in string_var:                                # Using if condition we can check if string_var contains Python or not
    print("String contains word Python")
else: print("string doesn not contains word Python")

In [ ]:
string_var = "Python programming is fun and powerful!" 
words= string_var.split()                                  #using split function we converted string to list of words 
print(words)